<!-- Conteneur où React s’injectera -->
{% assign current_product = product %}
{% for product in collections.all.products %}
  {% case product.id %}
    {% when 9228792955222 %}
      {% assign cadre = product %}
    {% endcase %}
{% endfor %}

{% for currency in shop.enabled_currencies %}
  {% if currency.iso_code == shop.currency %}
    {% assign symbol = currency.symbol %}
    {% break %}
  {% endif %}
{% endfor %}

<div data-cadre-id="{{cadre.id}}" data-cadre-title="{{cadre.title}}" data-cadre-price="{{cadre.price}}" data-current-id="{{current_product.id}}" data-current-title="{{current_product.title}}" data-current-price="{{current_product.price}}" data-current-symbol="{{symbol}}" id="product-stepper">

  <!-- On peut afficher un "chargement" par défaut, qui sera remplacé par React -->
  <div class="stepper-loading">Chargement en cours...</div>
</div>

<!-- Inclure le fichier JS généré par Vite/Webpack -->
<script src="{{ 'stepper.js' | asset_url }}" defer></script>

<!-- Optionnel : inclure le CSS généré s’il existe -->
<link rel="stylesheet" href="{{ 'stepper.css' | asset_url }}" />

{% schema %}
{
  "name": "Stepper Form",
  "target": "section",
  "settings": []
}
{% endschema %}
